.signup {
    align-items: center;
    justify-content: center;

    form {
        background: #457fca6c;
        color: white;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 500px;
        height: 80vh;
        margin: 20px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);

        h5 {
            padding: 5px;
            margin-top: 20px;
            font-family: 'Ubuntu', sans-serif;
            border-bottom: 1px solid white;
        }

        label {
            width: 80%;
            display: grid;
            margin: 20px;
            font-family: 'Fasthand', cursive;

            input {
                padding: 5px;
                border-radius: 3px;
                margin-top: 5px;
                font-family: 'Ubuntu', sans-serif;
            }
        }

        button {
            width: 150px;
            height: 40px;
            border-radius: 6px;
            margin: 10px;
            background: black;
            color: white;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background: white;
                color: black;
            }
        }
    }

    .info {
        border-top: 2px solid white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 10px;
        margin: 20px;
        width: 80%;

        a {
            color: yellow;
            text-decoration: underline !important;
        }
    }
}