.recipe_page {
    flex-direction: column;
    width: 100vw;

    .head {
        display: grid;
        width: 100%;
        background: #457fca;
        background: -webkit-linear-gradient(to right, #5691c8, #457fca);
        background: linear-gradient(to right, #5691c8, #457fca);
        color: white;
        align-content: center;
        justify-items: center;
        
        
        .title {
            text-align: center;
            font-size: 30px;
            font-family: 'Fasthand', cursive;
            border-bottom: 2px solid white;
            margin: 10px;
            padding-inline: 40px;
        }
        
        .desc {
            width: 100%;
            p {
                padding: 10px;
                margin-top: 5%;
            }
            
            img {
                margin: 20px;
                padding: 10px;
                border-radius: 50%;
                float: left;
                shape-outside: ellipse(100px 100px);
                width: 200px;
                height: 200px;
            }
            .owner {
                padding: 10px;
                border-radius: 6px;
                text-align: center;
                background: #f80759;
                color: white;
                width: 250px;
                cursor: pointer;
                margin: 20px auto;
            }
        }
    }

    .recipe_nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        background: white;
        font-family: 'Fasthand', cursive;
        border-bottom: 1px solid black;

        .section {
            width: calc(100% / 3);
            padding: 20px;
            text-align: center;
            cursor: pointer;
            

           &:hover, &.active {
                background: black;
                color: white;
            }
        }
    }

    .recipe_info {
        width: 100%;
        background: white;
        padding: 40px;
        

        ul {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-height: 300px;

            // Smaller screens
            @media (max-width: 500px) {
                max-height: none;
            }
        }

        div {
            min-height: 400px;
        }
    }

}

.preview_nav {
    display: flex;
    position: fixed;
    top: 80%;
    left: 60%;

    button {
        padding: 15px 20px;
        font-family: 'Fasthand', cursive;
        background: black;
        color: white;
        border-radius: 6px;
        margin: 20px;
    }
}